.loading-component{
  &__container{
    display: flex;
    justify-content: center;
    align-items: center;
    &__loading{
      height: 70px;
      display: flex;
      justify-content: center;
      & img {
        height: 70px;
      }
    }
  }
}
