.product-item-component{
  display: flex;
  justify-content: center;
  $CARD-PHONE-BREAKPOINT: 500px;

  &__modal {
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.927);
    display: flex;
    justify-content: center;
    align-items: center;

    &__video{
      & video {
        width: 100px;
      }
    }
  }
  &__container{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px;
    border-bottom: 3px solid #FFF4CF;
    border-radius: 10px;
    margin: 10px;
    &__thumb{
      display: flex;
      border-radius: 10px;

      @media screen and (max-width:$CARD-PHONE-BREAKPOINT){
        flex-direction: column;
      }

      & img{
          height: 250px;
          border-radius: 10px;
      }
      &__information {
        margin-left: 10px;

        &__header{
          display: flex;
          justify-content: end;
          & p {
            margin: 10px;
            font-weight: bold;
            padding: 5px;
            border-radius: 10px;
          }

          &__group {
            background-color: red;
            color: white;
          }

          &__release {
            background-color: #A7E796;
          }

          &__type {
            background-color: #0078D7;
            color: white;
          }
        }

        &__title{
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        &__description{
          font-size: 20px;
        }
        &__video{
          margin-bottom: 20px;
        }
        &__link{
          display: flex;
          position: relative;
          justify-content: end;
          @media screen and (max-width:$CARD-PHONE-BREAKPOINT){
            justify-content: center;
          }
          &__youtube{
            background-color: #550000 !important;
            margin-right: 10px;
            color: white;
            display: flex;
            justify-content: space-around;
            align-items: center;

          & img{
            height: 50px;
            margin: 0;
            padding: 0;
          }
          }
          & button {
            background-color: #0078D7;
            color: #ffffff;
            cursor: pointer;
            border: none;
            outline: none;
            width:200px;
            height: 70px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 17px;
            letter-spacing: 3px;
            font-family: Georgia, 'Times New Roman', Times, serif;
          }
        }
      }
    }
  }
}
